name: Android Build
on: pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Jdk
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Run Tests
        run: ./gradlew test

      - name: build debug apk
        run: ./gradlew assembleDebug

      - name: upload to App Center
        uses: wzieba/AppCenter-Github-Action@v1
        with:
          appName: dastageerb44/apps/BookStore
          token: ${{secrets.APP_CENTER_TOKEN}}
          group: testers
          file: app/build/outputs/apk/debug/app-debug.apk
          notifyTesters: true
          debug: false